/* 전체 wrap */
.flex {
    display: flex;
    align-items: center;
}

/* 전체 폼 설정 */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 폼 그룹 설정 */
.form-group {
    display: flex;
    flex-direction: column;
}

/* 폼 그룹 제목 설정 */
.form-group h2{
    margin-top: 18px;
}


/* 프로필 섹션 설정 */
.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;   /* 자동 마진 */
}

/* 프로필 이미지 크기 설정 */
.profile-section img.profile-image {
    width: 181px;
    height: 181px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* 필수사항 텍스트 설정 */
.highlight {
    color: palevioletred;
    justify-content: right;
}

/* 라디오 버튼 스타일 */
.radio {
    display: flex;
    flex-direction: row;
    appearance: none;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 53px;
}

/* 라디오 버튼 간격 설정 */
.radio label {
    margin-right: 20px; /* 오른쪽 마진을 추가하여 간격을 넓힘 */
}


/* 자기소개 입력칸 */
.introduce-input {
    width: 584px;
    height: 182px;
    margin-bottom: 38px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    justify-items: start;
}


/*.input-group {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*}*/

/* 글자수 제한 폰트 설정 */
.maxlength {
    display: flex;
    flex-direction: row;
    color: #D9D9D9;
}

/* 각 섹션 마진 설정 */
.section {
    margin-bottom: 35px;
}

/* 드롭다운 아래쪽 마진 */
#role {
    margin-bottom: 67px;
}

/* 링크 헤더 스타일 */
.link h2 {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: space-between;
}


label {
    display: block;
    margin-bottom: 5px;
}

/* 입력칸 공통 설정 */
input[type="text"],
input[type="url"],
textarea,
select {
    width: 584px;
    padding: 12px 8px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 22px;
    margin-bottom: 22px;
}

/* 특수 입력 필드 */
.sc-input {
    margin-bottom: 33px;
    margin-top: 21px;
    width: 584px;
    height: 44px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

/* 스킬, 프로그램 색션 설정 */
.skills-section, .programs-section {
    padding: 0;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* 태그 설정 */
.tags.skills, .tags.programs {
    flex-grow: 1; /* 태그 영역이 남은 공간을 모두 차지하도록 */
    align-items: center;
    margin-bottom: 0; /* 간격 줄임 */
}

/* 태그 색상, 배경 설정 */
.tags.skills .tag, .tags.programs .tag {
    padding: 8px 15px;
    background-color: #00dada; /* 태그 배경색 */
    color: white; /* 텍스트 색상 */
    border-radius: 15px; /* 둥근 */
    margin-right: 4px; /* 태그 사이 간격 */
    margin-top: 22px;
    margin-bottom: 22px;
    text-align: center;
}

/* 스킬, 프로그램 제목 마진 설정 */
.skills-section h2, .programs-section h2 {
    margin-right: 10px; /* 텍스트와 태그 사이의 간격 */
    white-space: nowrap; /* 텍스트가 줄바뀌지 않도록 */
    flex-shrink: 0; /* 텍스트가 축소되지 않도록 */
}

/* 태그 간격 조정 */
.tags.skills .tag.front, .tags.programs .tag.react {
    margin-right: 4px;
    margin-top: 22px;
    margin-bottom: 22px;
}


/* 완료 버튼 색상 모양 설정 */
button {
    background-color: #00dada;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 584px;
    height: 60px;
    margin-top: 83px;
}

/* 버튼 호버시 색상 */
button:hover {
    background-color: #009393;
}
