/* recruit_list */
.recruit-list {
  display: flex;
  justify-content: space-between;
}

.category {
  position: sticky;
  top: 167px;
  width: 40%;
  height: 400px;
}

.category h1 {
  font-size: 1.375rem;
  font-weight: bold;
  padding-bottom: 25px;
  color: #000;
}

.category ul li {
  padding: 9px 0;
}

.category ul li a {
  font-size: 1.125rem;
  font-weight: 800;
  color: var(--gray-font2);
}

.category ul li.on a {
  font-weight: 800;
  color: #000;
}

.category ul li a:hover {
  color: var(--main-color);
}

.btn-write {
  color: #fff;
  padding: 12px 26px;
  border-radius: 5px;
  background-color: var(--main-color);
  border: none;
  font-weight: 600;
  margin-top: 75px;
  transition: 0.3s;
}

.btn-write:hover {
  background-color: var(--main-hover-color);
  transition: 0.3s;
}

.project-list {
  width: 100%;
}

.list-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recruit-ipt {
  width: 600px;
  border-radius: 30px;
  padding: 14px 20px;
  border: 1px solid var(--border-color);
}

.lists {
  margin-top: 40px;
}

.project-box {
  display: block;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 25px 30px;
  background-color: #fff;
  margin-bottom: 40px;
}

.project-box:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 241 241 / var(--tw-bg-opacity));
}

.project-box .tag {
  display: inline-block;
  background-color: var(--tag-bgcolor);
  padding: 6px 10px;
  font-size: 0.75rem;
  color: #fff;
  border-radius: 3px;
}

.project-box .title {
  padding: 12px 0 17px;
  font-size: 1.25rem;
  font-weight: 600;
}

.project-box strong {
  position: relative;
  font-size: 1.25rem;
  font-weight: 900;
  padding-right: 20px;
}

.project-box strong.state-ing:before {
  content: "|";
  position: absolute;
  top: 2px;
  left: 66px;
  color: var(--gray-font);
  font-weight: 500;
}

.project-box strong.state-done:before {
  content: "|";
  position: absolute;
  top: 2px;
  left: 82px;
  color: var(--gray-font);
  font-weight: 500;
}

.project-box strong.state-ing {
  color: var(--main-color);
}

.project-box strong.state-done {
  color: var(--lightgray-font);
}

.project-box .content {
  color: var(--gray-font);
  line-height: 1.2rem;
  font-size: 0.875rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-bottom: 17px;
}

.project-box b {
  font-size: 0.75rem;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 5px 10px;
  border-radius: 30px;
  margin-right: 5px;
  font-weight: 800;
}

.project-box .purpose p {
  padding-top: 25px;
  font-size: 0.815rem;
}

.project-box .purpose i {
  font-size: 0.75rem;
  background-color: var(--tag-bgcolor);
  padding: 5px;
  border-radius: 50%;
  margin-right: 3px;
}

.project-box ul.tech li:nth-child(1) {
  padding-right: 5px;
  padding-left: 0px;
}

.project-box ul.count {
  display: flex;
  padding-top: 20px;
}

.project-box ul.count li {
  font-size: 0.75rem;
  color: var(--lightgray-font);
  padding: 0 5px;
}

.project-box ul.count li i {
  font-size: 0.815rem;
  color: var(--lightgray-font);
  padding-right: 3px;
}
